body {
	/*background:#5da9dd;*/
	/*background: #9aecea;*/
	/*background: #c9ffee;*/
	background-color: #b1d0ef;
	font-family: "AlrightSans-Regular";
}
.sub-menu li a {
	border-bottom:none !important;
}
.main-navigation .menu-item-has-children > a {
	padding-right:0px !important;
}
.current-menu-ancestor a {
	border-bottom:2px solid #ffb430;
}
.site-content a {
	color:#4d4d4f;
	text-decoration:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
strong {
	font-family:"AlrightSans-Bold";
}
.site {
	background:none;
}
.sub-head {
	display:block;
	margin:10px 0 20px 0;
}
.book-wrap .w-50 {
	display:inline-block;
	vertical-align:top;
	width:49.5%;
}
.book-wrap .book-left .book-inner {
	padding-right:100px;
	border-right:2px solid #4d4d4f;
	color:#4d4d4f;
	font-size:14px;
}
.book-wrap .book-right .book-inner {
	padding-left: 100px;
	text-align: center;
	color: #4d4d4f;
	font-size: 14px;
}
.book-wrap .book-inner h2, .call-appoinment {
	font-size:17px;
	color:#4d4d4f;
	margin:0;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:1px;
	text-align: center;
}
.book-wrap .book-inner h3 {
	font-size:16px;
	color:#4d4d4f;
	margin:25px 0 0 0;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:1px;
}
.book-wrap.book-inner .phone-box {
	border:1px solid #fff;
	font-size:16px;
}
.book-wrap .book-inner .phone-box a {
	color:#4d4d4f;
	text-decoration:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.contact-wrap .book-left {
    display: inline-block;
}
.contact-wrap .book-right {
    display: inline-block;
}
.book-wrap .book-left .book-inner .wpcf7 p {
	padding-left:100px;
	margin-bottom:24px;
}
.book-wrap .book-left .book-inner .wpcf7 p.submit-wrap {
	margin-bottom:0;
}
.book-wrap .book-left .book-inner .wpcf7 label {
	float:left;
	width:100px;
	height:36px;
	line-height:36px;
	margin-left:-120px;
	text-transform:uppercase;
	color:#fff;
	text-align:right;
	padding-right:20px;
}
.book-wrap .book-left .book-inner .wpcf7 .wpcf7-form-control {
	height:36px;
	line-height:36px;
	padding:0 5px;
	border:none;
	-webkit-border-radius: 0;
    border-radius: 0;
	background:#fff;
	width:100%;
	font-size: 12px;
	font-family: "AlrightSans-Regular";
}
.submit-wrap {
	text-align:right;
	height:44px;
}
.book-wrap .book-left .book-inner .wpcf7 .wpcf7-form-control.wpcf7-submit {
	width:auto;
	padding:0 20px;
	background:#ffb430;
	color:#fff;

}
div.wpcf7 .ajax-loader {
	float:left;
	margin-top:15px;
}
.contact-wrap.book-wrap .book-right .book-inner, .contact-wrap.book-wrap .book-left .book-inner,
.appointment-book-wrap .book-right .book-inner, .appointment-book-wrap .book-left .book-inner {
	text-align:left;
	font-size:14px;
	color:#4d4d4f;
	
}
.single-post-tab-content p, .surgery-sub-desc ul {
	margin-top:15px;
	font-size: 14px;
	font-family: "AlrightSans-Regular";
	line-height: 24px;
	color: #4d4d4f;
}
.surgery-sub-desc ul {
	margin-bottom: 0px;
	margin-top: 10px;
}
.site-content {
	position:relative;
}
.single-post-tab-list, .single-post-tab-list li {
	margin:0;
	padding:0;
	list-style:none;
}
.single-post-tab-list {
	position:absolute;
	left:0;
	right:0;
	top:35px;
	width:405px;
	border-top:1px solid #4d4d4f;
	/*border-right: 1px solid #4d4d4f;*/
}
.single-post-tab-list li a {
	display:block;
	padding:20px 35px;
	border-bottom:1px solid #4d4d4f;
}
.single-post-tab-list li.active a {
	color:#fff000;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	margin-top:-1px;
}
.single-post-tab-content {
	border-left:1px solid #4d4d4f;
	margin-left:405px;
	padding-left:35px;
	padding-top:25px;
	padding-bottom:25px;
	color:#4d4d4f;
}
.single-post-tab-content h1 {
	/*color:#ffd400;*/
	color: #4d4d4f;
	text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
}
.book-appointment-link {
	position:fixed;
	background:#ffb430;
	padding:7px 10px 3px 10px;
	right:50px;
	font-size: 12px;
	color: #fff !important;
	font-weight: 600;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 0.36px;
	z-index: 999;
}
.book-appointment-link:after {
	position:absolute;
	content:'';
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffb430;
	left:50%;
	margin-left:-10px;
	bottom:-10px;
}
.newsHeading {
    font-size: 14px;
    font-family: "AlrightSans-Regular";
    text-transform: uppercase;
    color: #4d4d4f;
}
.phone-box {
    border: none;
    margin: 0 auto;
    padding: 0px 8px;
    margin-left: 0;
    padding-left: 0;
}
.single-post-tab-content p strong, .single-post-tab-content p b {
    color: #4d4d4f;
    font-family: "AlrightSans-Regular";
}
.page-template-page-videos .video-frame {
	padding:0;
	margin:0;
	float:left;
	width:25%;
	border:none;
}
.page-template-page-videos .video-frame-inner {
	border: 8px solid #0072bc;
	margin: 8px;
	position:relative;
	/*background:#000;*/
}
.page-template-page-videos .video-frame-inner .iframe-url {
	display:block;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:100;
	cursor:pointer;
}
.iframe-popup-wrap {
	/*display: none;*/
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index:1000;
	display:none;
	opacity:0;
}
.iframe-popup-close {
	width:35px;
	height:35px;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	background:url(image/close-icon.png) no-repeat center;
}

.iframe-popup-inner-wrap {
	position: absolute;
	top: 35px;
	right: 35px;
	bottom: 35px;
	left: 35px;
	background:#000;
}
#video-iframe {
	position: absolute;
	width:100%;
	height:100%;
}
.page-template-page-videos .site-main {
	margin:25px -8px;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-navigation li.current-menu-ancestor > ul {
	left: 20px;
	/*left: -180px;*/
	top:16px;
}
.main-navigation .publications-menu ul {
	margin-left: -128px;
	/*left: 20px;*/
} 
.main-navigation .publications-menu.current-menu-ancestor > ul {
    margin-left: -128px;
}

@media screen and (max-width: 1024px) {
	.site-footer {
		position:static;
	}
	.page-template-page-videos .video-frame {
		width:50%;
	}
}
@media screen and (max-width: 767px) {

	.page-template-page-videos .video-frame {
		width:100%;
	}
}